body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Buttons */

.btn-square {
    height: 60px; 
    width: 60px;
}

.btn-circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.btn-sidebar {
    border-radius: 50%;
    width: 100px; 
    height: 100px
}

.text-large {
    font-size: 100px;
}